
@using mvcMobileStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>

@{
    ViewBag.Title = "Cửa hàng di động LDK";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    @foreach (var sanpham in Model)
    {

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details","MobileStore", new { id = sanpham.MASP})">
                    <img alt="@sanpham.TENSP" src="~/Hinhsanpham/@sanpham.AnhSP" width="400" />
                    <div>
                        <br />
                        <h4 style="text-align: center"> @sanpham.TENSP </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">Comment</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
            </div>
        </div>
    }
</div>
@* Tao liên kết các trang *@
<div style="font-family: Arial">
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
</div>
<div style="border: 1px solid black; width: 100px; font-family: Arial; display: inline-block; background: #fdc22d; color: #fffeff; border: 1px solid #f3f4f5; font-size: 13px; white-space: nowrap; border-radius: 2px; padding: 10px 8px;">
    @Html.PagedListPager(Model , page=>Url.Action("Index", new {page = page}))
</div>


